
API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=7721254208:AAG1is2aV9KfmKLL2_BWj-CSODA3v2ncLdU
LOGGER_ID=-1002297967583
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=7543674320
STRING_SESSION=BAFPgW4AQOOsvpfMcIhR2Jf0DOnZ6lms7ZRILLbTrQowhGs6GrhXNTQh3sePr7SienObfossr7nnAgfaqFic5ZQvuGnB55E_94fu3XdP25_sgExWzZ8mlqtW5fdDWMr5JyW2rZAENVYPy16iy2ZeNFJmlMOynEIaKXJiltJmn_o96VQUwAmPJICb3d_zXD9xq6juMHLtuDpUEBmoKef8PEF6mD7BzJwzBSMuwrlFVSq8IxDv7XGL8-a8tCaHVvdMp1vwingcWOXCFIK8uFFXLxG7DhMRh4RLI6_6ddeO_gPdKymZ-VHrMcP06yzFzNylECejmObQu6feI4DW2_ngzZ_HY-0UPgAAAAGnglLmAA
