


API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=7788861992:AAElNnRgcbC1LsY9jqCtpfnAZp7oOaMi3QE
LOGGER_ID=-1001761290097
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=7543674320
STRING_SESSION=BACTe04ASpqUFmwCsskEJVo0BGZfcaMiqjg1WNGZmHpzbBQE07B2UwDQh1DDaNTOr8YWweWjh3PXdXUwn8yVj-8Gu4WnCfjsxACbIlVdzPQuN9hJqdUjX1SM-QQM4a4yBME8Pjq5Dm8PSt2zKWYlHrdgt6Cyeiz_o5L7PTzTwYAHEtfoR5bTDthyvSbmmKgBSt3BWBBJgLMAt0BcWIjnf9HNXHOwsjXzws5MkPUiukYxXhTcUlhcK4R0cuk5RNflb-xEzdihTEUmCMwT4SAyw4v_ynGRswQleIXQGV93AImm5sRHmpTh2b_RwsxJL6Xe21dDVB4wOJjsDYCOJS2gZfvjImSFvQAAAAGt2h3sAA
